.gameOptionsButtons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto 3fr;
  grid-template-columns: 2fr 4fr;
}

.gameButtonsRows {
  grid-area: 1 / 1 / 5 / 5;
}

.gameButtonsRows div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gameButtonsRows h4,
.gameButtonsRows button {
  width: 15rem;
}

.gameButtonsRows button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  cursor: pointer;
}

.gameButtonsRows button:hover {
  background: #fe3756;
  border-color: #fe3756;
}

.gameButtonsRows button:active {
  background: #fe3756;
  border-color: #fe3756;
}

.gameButtonsRows button.activeButton {
  background: #fe3756;
}

.timeAndScore {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #ebebeb;
  border: 1px;
  gap: 1rem;
  background: #ebebeb;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 15rem;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.stopBottom button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 15rem;
  cursor: pointer;

}

.stopButton button:hover {
  background: #fe3756;
  border-color: #fe3756;

}

.memoGame {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 10px;
  max-width: 600px;
  max-height: 250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#square {
  display: grid;
  background-color: #ebebeb;
  min-height: 160px;
  min-width: 160px;
  border-radius: 8%;
  font-size: 100px;
  place-items: center;
  cursor: pointer;
}