.font-test-family {
  font-family: Chilanka;
}
/* .variable-string-placeholder p span */
.conteiner--array-objects-basics {
  margin-left: 5px;
}

.container--people-from-gdansk .container--people-data {
  margin: 2rem;
  border: 5px solid gold;
}