.cookies-banner-container {
    position: absolute;
    bottom: 0;
    /* top: 0; */
    left: 0;
    right: 0;
    background-color: #00000077;
    color: white;
}

.cookies-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em 5em;
    background-color: #23213D;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accept-cookies {
    position: absolute;
    bottom: 15px;
    left: 50%;

    padding: 0.5em;
    color: white;
    background-color: #FE3756;
    max-height: 3em;
}