body {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.cookieBanner {
  z-index: 10;
}

.cookieBanner p,
h3,
button {
  margin: 0;
  padding: 0;
}

.cookieBanner {
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 20vh;
  background-color: #23213d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px 120px;
  color: white;
  text-align: justify;
}

.cookieBanner svg {
  float: left;
  margin: 0 20px 20px 0;
}

.section-right {
  display: flex;
  flex-direction: row;
}

.section-right button {
  display: flex;
  height: 50px;
  width: 180px;
  padding: 20px 36px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.section-right {
  margin-left: 5%;
}

.section-right .btn-accept {
  background-color: var(--primary-primary, #fe3756);
  color: #f6f6f6;
}

.section-right .btn-adjust {
  background-color: #f6f6f6;
  color: var(--primary-primary, #fe3756);
}
