.materialUi-buttons {
    display: flex;
    flex-direction: row;    
}

.materialUi-section1{
display: flex;
flex-direction: column;
gap: 10px;

}
.materialUi-section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}