.materialUI .marginTop{
    margin-top: 2rem;
}

.materialUI .sampleRedRect{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: red;
}

.materialUI .sampleBlackRect{
    background-color: black;
}