@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.memo-game {
  font-family: Poppins;
}

.wrapper {
  margin: 40px, 20px;
}

h2.memo,
div.title {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #222;
  font-weight: 400;
}
div.title {
  text-transform: uppercase;
  width: 20%;
}

div.menuPanel {
  display: flex;
  flex-direction: column;
}

div.option-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
div.content {
  display: flex;
}

.btn_memo {
  margin-right: 20px;
  padding: 12px 20px;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: white;
  text-transform: none;
  width: 200px;
  margin-bottom: 0;
  background-color: #23213d;
  border: none;
  border-radius: 8px;
  border: unset;
}

.score,
.time {
  background-color: #ebebeb;
  color: black;
}
.pass {
  background-color: #e12b1b;
  text-transform: uppercase;
}
.start {
  text-transform: uppercase;
}
.start:hover {
  background-color: #e12b1b;
}
.cardsplace {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 50px auto;
}
.onecard {
  background-color: #ebebeb;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  text-align: center;
  line-height: 160px;
  font-size: 100px;
  color: black;
  margin: 10px;
  width: 160px;
  height: 160px;
}

.onecard:hover {
  -webkit-box-shadow: 0px 12px 16px -9px rgba(66, 68, 90, 0.64);
  -moz-box-shadow: 0px 12px 16px -9px rgba(66, 68, 90, 0.64);
  box-shadow: 0px 12px 16px -9px rgba(66, 68, 90, 0.64);
}
.current {
  background-color: #e12b1b;
}

.red {
  background-color: #f3aea8;
  color: black;
}

.green {
  background-color: #e2fbd7;
  color: black;
}
