.allgrid {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.allgrid2,
.allgrid3 {
  display: flex;
  gap: 38px;
}

.allgrid2 current,
.allgrid3 current {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.allgrid2 .content,
.allgrid3 .content {
  display: flex;
  gap: 38px;
}

.allgrid2 current {
  grid-area: 2 / 1 / 3 / 3;
}
.allgrid3 current {
  grid-area: 3 / 1 / 4 / 3;
}

.field {
  min-width: 92px;
  min-height: 92px;
  max-width: 122px;
  max-height: 122px;
  margin: 10px;
  border-radius: 8px;
  background: #ebebeb;
  align-items: center;
}
.fieldgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-template-columns: repeat(4, 102px);
  grid-template-rows: repeat(2, 102px);
  grid-column-gap: 8px;
  grid-row-gap: 9px;
  justify-content: center;
  margin-top: 2%;
}


.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  min-width: 160px;
  max-width: 160px;
  max-height: 60px;
}

.content button {
  width: 163px;
  height: 56px;
  padding: 20px 36px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #ebebeb;
  display: inline-block;
}
.content button:active {
  background-color: #e12b1b;
}

.content1 button {
  width: 163px;
  height: 56px;
  padding: 20px 36px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e12b1b;
  background: #e12b1b;
}
.content1 button p {
  color: white;
}
