.question-section {
    border-radius: 8px;
    box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.06), 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
    border-left: 5px solid var(--gray-300, #C8CBD1);
    padding: 18px 24px;
    margin-bottom: 18px;
}

.question-header {
    margin: 18px 0px;
}