.faq-main-container {
}

.faq-main-container .question-container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 24px;
  gap: 18px;

  width: 780px;
  height: 266px;

  background: #ffffff;
  border-left: 5px solid #c8cbd1;
  border-radius: 8px;
}

.faq-main-container .question-container span {
  width: 700px;
  height: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #23213d;
}
