.block {
 
  padding: 18px 24px;
  gap: 18px;
  width: 780px;
  height: auto;
  background: #ffffff;
  margin-bottom: 18px;
  
  border-left: 5px solid #c8cbd1;
  border-radius: 8px;
  
  
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 3px 46px rgba(0, 0, 0, 0.06));
  border-radius: 16px;
}

.h2 {
  position: absolute;
  width: 700px;
  height: 34px;
  left: calc(50% - 700px / 2);
  top: calc(50% - 34px / 2);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #23213d;
}

.answear-text {
  width: 732px;
  height: 160px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #222222;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.line {

border: 1px solid #EBEBEB;

}

.arrowButton {

background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: #26589F;
        font-family: 'PT Sans Narrow',sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
        
  
}

@keyframes arrowButton {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}