.memo-tile {
  border-radius: 0.5rem;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  font-display: none;
}

.memo-tile--neutral {
  background: #ebebeb;
}

.memo-tile--correct {
  background: #e2fbd7;
}

.memo-tile--incorrect {
  background: #f3aea8;
}

.memo-letter {
  user-select: none;
  transform: scaleX(0);
  font-size: 4rem;
  text-align: center;
  line-height: 6.5rem;
  transition: 300ms;
}

.memo-letter-is-visible {
  transform: scaleX(1);
  /* background-image: url("./memo.svg");
  background-repeat: no-repeat;
  background-position: center; */
}

.memo-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min-content;
}
