.array-rendering table {

  border-collapse: collapse;

  width: 100%;

}




.array-rendering table tr:nth-child(even) {

  background-color: #f2f2f2;

}




.array-rendering table tr>* {

  border: 1px solid #ddd;

  padding: 8px;

}