.round-image {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('https://media.licdn.com/dms/image/D4D03AQGmpz3QYUd46g/profile-displayphoto-shrink_200_200/0/1688659151125?e=1698883200&v=beta&t=r-JchaH7Ukw8WNJ9rZqPMnYl2R07tHdxCyELAADNeSA');
    background-position: center;
    background-size: cover;
}