.no1 {
  padding: 1rem;
  background-color: #ffd5db;
  border-radius: 20px;
  border: 1px;
  margin: 0.1rem;
  display: flex;
  font-size: 1.25rem;
  line-height: 2rem;
  justify-content: center;
  align-items: center;
}

.no2 {
  background-color: white;
  color: #333333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
}
