.cssFilters img {
  filter: grayscale(41%) sepia(50%) blur(5px) hue-rotate(125deg) invert(100%);
}

.cssFilters .black {
  background-color: black;

  width: 100px;

  height: 100px;

  filter: grayscale(41%) sepia(50%) blur(5px) hue-rotate(125deg) invert(100%);

  -webkit-filter: grayscale(41%) sepia(50%) blur(5px) hue-rotate(125deg)
    invert(100%);

  -moz-filter: grayscale(41%) sepia(50%) blur(5px) hue-rotate(125deg)
    invert(100%);
}
