.icon_ToDo {
  position: absolute;
  width: 1.625rem;
  height: 1.625rem;
}

.icon_trash {
  top: 1.81rem;
  right: 2.91rem;
  position: absolute;
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
}
.icon_trash:active {
  opacity: 0.5;
}

.icon_frame {
  position: absolute;
  top: 1.81rem;
  right: 5.26rem;
}
.Date_Done {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
}
