.dashboard .dashboard-tech-stack-container {
  padding: 2rem;
}
.dashboard .dashboard-tech-stack-container a {
  text-decoration: none;
}
.dashboard .dashboard-tech-stack-container p {
  margin-bottom: 3rem;
}
.dashboard .dashboard-tech-stack-flex {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(7, 10rem);
}
.dashboard .dashboard-tech-stack-flex img {
  align-items: center;
}
.dashboard .dashboard-tech-stack-flex p {
  color: black;
}
