.htm-wrapper {
  max-width: 850px;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}

.htm-header {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
}

.htm-menu {
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 38px;
}

.htm-stage {
  align-self: center;
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.htm-stage-cell {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background: #ebebeb;
  display: flex;
}
