.roundedImage {
    width: 200px;
    height: 200px;

    border-radius: 100%;
    background-color: blueviolet;
    background-position: center;
    background-size: contain;
    filter: grayscale(100%);
   
}