.RoundedImage {
    width: 200px;
    height: 200px;

    border-radius: 100%;
    background-color: blueviolet;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);   
}
.header-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;

}
.student-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-menu {
    max-width: 20rem;
    display: flex;
    gap: 1rem;
    align-items: center;



}