.roundedImage {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: gray;
  filter: grayscale(100%);
}
