.dashboard-block {
  border-radius: 8px;

  background: #fff;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15),
    0px 2px 28px 0px rgba(0, 0, 0, 0.12);
  padding: 20px 28px;
  max-width: 202px;
  text-align: center;
}

.dashboard-block .block-title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.dashboard-block .block-description {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 0;
}

.dashboard-block .block-icon {
  width: 43px;
  height: 43px;
}

.dashboard-block a {
  color: #ff4d69;
}

.dashboard-block:hover {
  box-shadow: 0px 2px 26px 0px rgba(254, 55, 86, 0.54);
  transition: all 0.25s ease-in-out;
}

.dashboard-block:hover > .block-title {
  color: #ff4d69;
  transition: all 0.25s ease-in-out;
}
.dashboard-block:hover > .block-icon path {
  stroke: #ff4d69;
  transition: all 0.25s ease-in-out;
}

.dashboard-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 35px;
  margin-top: 2.75rem;
}

.link_block_description {
  text-decoration: none;
}

.link_block_description:hover {
  text-decoration: underline;
}
.color_red_block {
  color: #ff4d69;
  font-size: 1.375rem;
}
.margin_img_block {
  margin-right: 10px;
}
