.events-container {
  font-family: Poppins;
}

.events-container > h1 {
  color: #000;

font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 69px;
width: 496px;
height: 77px;
}

.events-container > p {
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 27px;
color:  #222;
margin-bottom: 6px;
}
.events-input {
  display: flex;
height: 48px;
width: 456px;
padding: 13px 16px;
border-radius: 5px;
border: 1px solid #C8CBD1;
background: #FFF;
margin-bottom: 45px;
}

.events-button {
  display: flex;
  width: 326px;
  height: 56px;
  padding: 20px 36px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid var(--primary-primary, #FE3756);
background: var(--primary-primary, #FE3756);
color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 31px;
margin-bottom: 60px;

}