.font-test-family {
  font-family: Chilanka;
}

.test {
  font-size: 20px;
  text-align: center;
}

/* color */
/* font-size */
/* font-style */
/* font-weight */
/* text-transform */
/* text-decoration */
/* text-shadow */
/* line-height */
/* letter-spacing */
/* word-spacing */
/* text-align
vertical-align */
