.test {
  color: blue;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

/* color */
/* font-size */
/* font-style */
/* font-weight */
/* text-transform */
/* text-decoration */
/* text-shadow */
/* line-height */
/* letter-spacing */
/* word-spacing */
/* text-align
vertical-align */
