.blok11_z1 .font-size {
  font-size: 40px;
}
.blok11_z1 .font-weight {
  font-weight: 700;
}
.blok11_z1 .font-style {
  font-style: italic;

  font-style: oblique;
}
.blok11_z1 .text-decoration {
  text-decoration: underline dashed;
  text-decoration: underline dotted;
  text-decoration: line-through;
}
.blok11_z1 .text-transform {
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: capitalize;
}
.blok11_z1 .text-shadow {
  text-shadow: 4px 4px 7px blue;
}
.blok11_z1 .box-shadow {
  box-shadow: 4px 4px 7px blue;
}
.blok11_z1 .special-text {
  margin-top: 10px;
  max-width: 400px;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 5px;
  word-spacing: 10px;

  text-align: right;
  text-align: center;
  text-align: justify;
}
.blok11_z1 .sup {
  vertical-align: super;
}
.blok11_z1 .sub {
  vertical-align: sub;
}
.blok11_z1 .list-ol {
  list-style-type: decimal-leading-zero;
  /* list-style-type: upper-alpha;
  /* list-style-type: none;*/
  /*list-style-image: url('https://www.w3schools.com/cssref/sqpurple.gif');*/
}
.blok11_z1 .list-ul {
  list-style-type: circle;
  list-style-position: outside;
}
