.title {
  font-size: xx-large;
  margin-bottom: 20px;
}

.small-text {
  font-size: 0.83em;
}

.post-title {
  font-size: larger;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.crossed-text {
  text-decoration: line-through;
}

q {
  quotes: initial;
}

.sup {
  position: relative;
  bottom: 0.5em;
  font-size: 0.8em;
}

.sub {
  position: relative;
  top: 0.3em;
  font-size: 0.8em;
}

.margin-bottom {
  margin-bottom: 20px;
}

.list {
  margin: 0 30px;
}

.dot::before {
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.3rem;
  width: 0.3rem;
  margin-right: 0.6rem;
  background-color: var(--color-grey);
}
