aside {
  border-right: 1px solid var(--color-grey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
}

aside li {
  line-height: 2rem;
}

.aside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside li a {
  display: block;
  padding: 0.5rem;
}

aside a.active {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
}

