aside {
  border-right: 1px solid var(--color-grey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

@media (max-width: 800px) {
  aside.menu-visible {
    position: absolute;
    left: 0;
    background-color: white;
    top: 5rem;
    height: calc(100vh - 5rem);
    z-index: 1000;
    justify-content: flex-start;
  }
}

aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
  list-style-type: none;
  padding-left: 0;
}

aside li {
  line-height: 2rem;
  list-style-image: none;
}

.aside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

aside li a.aside-row {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 27px;
  color: #23213d;
  text-decoration-line: none;
}

aside ul li a.active {
  color: var(--color-link-hover);
}
aside li a:hover {
  color: var(--color-link-hover);
}
aside a.active svg,
aside li a:hover svg {
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(340deg)
    brightness(121%) contrast(148%);
}
aside hr {
  border-top: 1px solid var(--color-blue-gray);
}

.menu-icon {
  margin-right: 0.8rem;
  width: 1.6rem;
}
