aside {
  border-right: 1px solid var(--color-grey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
}

aside li {
  line-height: 2rem;
}

.aside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside li a {
  color: black;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

aside a.active {
  color: #fe3756;
}
aside svg:has(+ a.active) path {
  stroke: var(--color-red);
}
