aside {
  border-right: 1px solid var(--color-grey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
  list-style-type: none;
}

aside li {
  line-height: 2rem;
}

.aside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

aside li a {
  display: block;
}

aside a.active {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
}

.aside-row {
  color: #fe3756;
}

aside a.active,
aside a:hover {
  background-color: #fe37561a;

  color: var(--color-white);
}
