aside {
  border-right: 1px solid var(--color-grey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
  list-style: none;
  padding-left: 0;
}

aside li {
  line-height: 2rem;
}

.menu-icon {
  margin-right: 10px;
  fill: red;
}

.aside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}

aside li a {
  display: block;
  padding: 0.5rem;
}

aside a.active {
  background-color: lightsalmon;
  color: var(--color-black);
}
