@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


aside a {
  text-decoration: none;
}


aside ul,
li {
  margin: 0;
  padding: 0;
}

aside {
  border-right: 1px solid #ebebeb;
  padding: 1rem;
  flex-shrink: 0;
}

aside ul {
  width: 100%;
  padding-inline-start: 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

aside h5 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-decoration-line: none;
}

.aside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside svg {
  margin-right: 16px;
  fill: white;
}
.aside-row.active,
.aside-row:hover svg,
.aside-row:hover svg * {
  color: red;
  stroke: red;
}
