header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
header > a:first-of-type {
  text-decoration: none;
}
header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

header .logo {
  height: 40vmin;
  pointer-events: none;
}
header .header_container {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}
.header_menu {
  max-width: 20rem;
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
}
.header_name {
  display: flex;
  flex-direction: column;
}

.header_name_position {
  font-size: 0.8125rem;
  color: #999999;
}

.appear_square {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24.8rem;
  height: 12.2rem;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;

  z-index: 5;
  border-radius: 0.25rem;
  background: #fff;

  top: 0.19rem;
  right: -0.2rem;

  box-shadow: 0px 65px 30px 0px rgba(0, 0, 0, 0.01),
    0px 8px 20px 0px rgba(0, 0, 0, 0.04), 0px 17px 35px 0px rgba(0, 0, 0, 0.05),
    0px -4px 26px 0px rgba(0, 0, 0, 0.08);
}
.button_appheader {
  display: flex;
  justify-content: center;
  width: 15.95rem;
  padding: 1.25rem 2.25rem;
  text-transform: uppercase;
  left: 2.1875rem;
  top: 4.1875rem;
  background-color: #fe3756;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.header_color_red {
  color: #fe3756;
}
.header_arrow_click {
  z-index: 10;
}
.header_arrow_click:hover {
  cursor: pointer;
}
