header.navigation {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
header.navigation > a:first-of-type {
  text-decoration: none;
}
header.navigation.header-title {
  color: var(--color-grey);
  font-weight: normal;
}
header.navigation .logo {
  height: auto;
  width: 200px;
  pointer-events: none;
}
header.navigation button.settings {
  width: 50px;
  height: auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border: solid 1px transparent;
}
header.navigation button.settings:hover {
  border: dotted 1px lightgray;
  border-radius: 50%;
}
header.navigation button.dropdown-menu {
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border: solid 1px transparent;
}
header.navigation button.dropdown-menu:hover {
  border: dotted 1px lightgray;
  border-radius: 50%;
}
.profile-picture .placeholder {
  border-radius: 50%;
  background-color: #e5e5e5;
  width: 50px;
  height: 50px;
}
header.navigation .menu {
  display: flex;
  gap: 20px;
}

header.navigation .user-details {
  align-self: flex-end;
}

header .user-details p {
  margin: 0;
}
