header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}

header > a:first-of-type {
  text-decoration: none;
}

header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

.headerlogo {
  margin-top: 15px;
}

.menu-icon-link {
  display: none; /* Initially hidden */
}

.menu-icon-img {
  width: 24px;
  height: 24px;
  margin-right: 15px; /* Adjust the margin if needed */
}

.profilowe {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(200, 203, 209, 1);
}

.menu {
  display: flex;
  align-items: center;
  gap: 53px;
}

.menu .user-profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 5px;
  margin-top: 10px;
}

.user p {
  margin: 0px;
}

.menu .user-name {
  font-size: 17px;
  font-weight: 600;
  line-height: 14px;
}

.user-name .user-position {
  font-size: 14px;
  font-weight: 100;
}

.logout {
  background-color: #23213d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: #666666;
}

.mobile-logo {
  width: 80px;
  height: auto;
  display: none; /* Initially hidden on larger screens */
}

@media (max-width: 768px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu-icon-link {
    display: block;
  }

  .headerlogo img {
    display: none;
  }

  .mobilelogo {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .profilowe {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .logout {
    display: none;
  }

  .user-position {
    display: none;
  }

  .menu {
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.mobile-text {
  display: none; /* Initially hidden on larger screens */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
}

@media (max-width: 768px) {
  .mobile-text {
    display: block;
  }
}

