header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
header > a:first-of-type {
  text-decoration: none;
}
header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

header .logo {
  height: 40vmin;
  pointer-events: none;
}
header .header_container {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}
.header_menu {
  max-width: 20rem;
  align-items: center;
  display: flex;
  gap: 1rem;
}
.header_name {
  display: flex;
  flex-direction: column;
}

.header_name_position {
  font-size: 0.8125rem;
  color: #999999;
}
