header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
header > a:first-of-type {
  text-decoration: none;
}
header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

header .logo {
  height: 40vmin;
  pointer-events: none;
}

.Logo {
  width: 60.095px;
  height: 24.822px;
}

.Setting {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

.Name {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Toggle {
}
