header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
header > a:first-of-type {
  text-decoration: none;
}
header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

header .logo {
  height: 40vmin;
  pointer-events: none;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: flex-end;
flex-direction: row;
width: 100%;
}

.header-menu {
  display: flex;
max-width: 20rem;
gap: 1rem;
align-items: center;
}

.student-item {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.name {
  color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.kursant {
  color: #999;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}