header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
  }
  header > a:first-of-type {
  text-decoration: none;

}
.PomeranianLogo {
  flex-basis: 1500px;
}

header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

.header-menu-user > p:last-child{

  color: var(--color-lightgrey);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;


  font-weight: 400;
  line-height: normal;
}

