header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}

header > a:first-of-type {
  text-decoration: none;
}

header.user {
  color: var(--color-grey);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  height: auto;
  pointer-events: none;
}
.profile-picture .img-placeholder {
  border-radius: 50%;
  border: 3px solid #ff4d69;
}
.settings {
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}
header .menu {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
div .menu p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0px;
  color: #222222;
}
.header-name {
  margin: 0;
}
