.layout {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 10rem 1fr;
  grid-template-rows: 5rem 4fr 5rem;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';

  background: var(--color-white);
  color: var(--color-grey);
}

main {
  grid-area: main;
  height: calc(100vh - 5rem - 5rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
}
