.colorName {
  color:red;
}
.shortenHex{
  color:#f60;
}
.normalHex{
  color: #21a243;
}
  
.rgb{
  color: rgb(256,0,0);
}
.rgba{
  color: rgba(0,256,256, 0.5)
}
.hsl{
  color: hsl(160, 40%, 30%)
}

.opacity{
  opacity: 100%;
  background-color: rgba(40, 100, 240, 0.4);
  color: mintcream;
  padding: 50px 0px;
}