.colours .colorName {
  color:red;
}
.colours .shortenHex{
  color:#f60;
}
.colours .normalHex{
  color: #21a243;
}
.colours .rgb{
  color: rgb(256,0,0);
}
.colours .rgba{
  color: rgba(0,256,256, 0.5)
}
.colours .hsl{
  color: hsl(160, 40%, 30%)
}

.opacity{
  opacity: 100%;
  background-color: rgba(40, 100, 240, 0.4);
  color: mintcream;
  padding: 50px 0px;
}