.faq-section {
  margin: 20px 0;
  border: 1px solid grey;
  border-left-width: 5px;
  padding: 10px;
  border-radius: 10px;
}
.question {
  cursor: pointer;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
.answer {
  padding-top: 10px;
}
.none {
  display: none;
}
