.font-test-family {
  font-family: Chilanka;
}

.blok-8__cwiczenie-1 {
  color: black;
}

.blok-8__cwiczenie-1 > div {
  display: flex;
  gap: 5rem;
}

.blok-8__cwiczenie-1 h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 69px;
}

.blok-8__cwiczenie-1 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.blok-8__cwiczenie-1 form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.5rem;
}

.blok-8__cwiczenie-1 form button {
  padding: 20px 36px;
  gap: 16px;
  background-color: #fe3756;
  color: #ffffff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.blok-8__cwiczenie-1 form input {
  padding: 13px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
