.colorName {
    color: red
}

.shortenHex {
    color: #f00
}

.hex {
    color: #fc0000
}

.rgb {
    color: rgb(255, 0, 0)
}

.rgba {
    color: rgb(255, 0, 0, 1)
}

.hsl {
    color: hsl(0deg, 100%, 50%)
}

.opacity {
    background-color: greenyellow;
    padding: 20px;
    opacity: 0.6;
}

.rgbopacity {
    background-color: rgb(0, 221, 255, 0.1);
    padding: 20px
}