.cssColors .color-1 {
    color: red;
}

.cssColors .color-2 {
    color: rgb(255, 240, 0);
}

.cssColors .color-3 {
    color: #ffee00;
    /* color: #ff0; */
    /* #ff0 => #ffff00 */
    /* #333 => #333333 */

    /* f(15)*16 = 240
    f(15)*1 = 15
    240 + 15 = 255 */
    /* 0123456789abcdef */
}

.cssColors .color-4 {
    color: rgba(255, 240, 0, 0.5);
}

.cssColors .color-5 {
    color: hsl(71deg, 82%, 50%);
}

.cssColors .color-6 {
    opacity: 0.5;
}
