.font-test-family {
  font-family: Chilanka;
}


.form--container h1  {
  margin-top: 4rem;
  margin-left: 2rem;
}


.form--container label {
  margin-left: 2rem;
  /* body/bold-16 */
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 27px;

/* identical to box height, or 169% */

/* TEXT/text.primary */
color: #222222;
}


.form--container input[type=text] {
  margin-left: 2rem;
  margin-top: 0.3rem;
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 16px;
gap: 10px;
width: 488px;
height: 48px;
background: #FFFFFF;
border: 1px solid #C8CBD1;
border-radius: 5px;
}





.form--container input[type=button] {
  margin-top: 3rem;
  margin-left: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 326px;
  height: 56px;
  background: #FE3756;
  border: 1px solid #FE3756;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;

}

.form--container input[type=button]:hover {
  background: #e67f8e;
}