.background-url { 
  background: url('./zdjecie.jpg'); 
  width: 500px; 
  height: 300px; 
  background-size: cover; 
} 
.background-url-2 { 
  /* background: url('./zdjecie.jpeg'); */ 
  background-image: url('./zdjecie.jpg'); 
  width: 500px; 
  height: 300px; 
  background-size: 200px; 
  background-repeat: repeat-y; 
  border: 1px solid #f00; 
} 
  .background-url-3 { 
    background: url('./zdjecie.jpg'); 
    width: 500px; 
    height: 300px; 
    background-size: 200px; 
    background-repeat: no-repeat; 
    background-position: top right; 
    border: 1px solid #f00; 
  } 
    .background-url-4 { 
      background: url('./zdjecie.jpg'); 
      background-color: cyan; 
      width: 500px; 
      height: 300px; 
      background-size: 200px; 
      background-repeat: no-repeat; 
      background-position: top right; 
      border: 1px solid #f00; 
    }


