.h1-text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 69px;

  width: 496px;
  height: 77px;

  color: #000000;
}

.input-label label {
  width: 95px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #222222;
}

.input-box input:placeholder-shown {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.input-box input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;

  width: 488px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #c8cbd1;
  border-radius: 5px;
  margin-bottom: 45px;
}

.button-box button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  gap: 16px;

  width: 326px;
  height: 56px;

  background: #fe3756;
  border: 1px solid #fe3756;
  border-radius: 8px;
}

.button-box p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
  text-align: center;
}

.placeholder {
  display: inline-block;
  align-items: center;
  text-align: right;
}

.placeholder h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

.block-1 {
  display: inline-block;
}
