.one-line {
  display: flex;
}

.input {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;

  width: 488px;
  height: 48px;

  background: #ffffff;
  /* GREY/300 */

  border: 1px solid #c8cbd1;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  gap: 16px;

  width: 326px;
  height: 56px;

  /* primary/primary */

  background: #fe3756;
  /* primary/primary */

  border: 1px solid #fe3756;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
