.floats__positioning-relative {
    position: relative; 
    padding: 27px 31px;  
    background:  #EBEBEB;  
    max-width: 984px;
  }
       
  .floats__positioning-relative:hover .floats__positioning-absolute {
    display: block;  
    top: 217px;  
    left: -159px; 
    transition: all 1s ease-in-out;
   
  
  
  }
       
  .floats__positioning-absolute {  
    /* display: none; */ 
    /* transition: all 2s ease-in-out;   */
    position: absolute;  
    top: -34px;  
    right: 0px;  
    padding: 12px 20px;  
    border-radius: 5.5px;  
    border: 1px solid #999;  
    background:  #FFD5DB; 
    text-wrap: wrap; 
    width: 203px;
    margin-left: 750px;

  }

  .square-wrapper {

    height: 100px;  
    background:  #EBEBEB;  
    margin-top: 350px;  
  }
   
  .square {  
    width: 120px;  
    height: 120px;  
    border-radius: 8px;  
    border: 2px solid  #C8CBD1;  
  }

  .square-1 {
    position: relative;  
    background: #C8CBD1;  
  }
      
  .square-2 {  
    position: absolute;  
    background: #999;  
    left: 27px;  
    bottom: 21px;  
    z-index:2;
  
  }
       
  .square-3 {  
    position: absolute;  
    background: #6B7280;  
    left: 54px;  
    bottom: 42px;
    z-index: 3;
  
  }

  .float-wrapper {
    margin-top: 100px;
  }

  .float-img {
    float: left; 
    width: 201px; 
    height: 175px;
  }

  .float-text {
  background-color: #FFD5DB;
  padding: 32px 29px 0px 21px;
  align-items: center;
  max-width: 984px;
  }