.calendar-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  height: 100vh;
}
.MuiInputBase-input {
  color: var(--color-link-hover) !important;
}
button .MuiButton-root {
  display: none;
}
