.coffe-logo-1 {
  background-image: url('./peter-steiner-yWBBvm3jS-k-unsplash.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 900px;
  height: 80px;
}
