@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faq {
  margin: 80px 120px 50px 50px;
}
div.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
  border-radius: 8px;
  border-left: 5px solid #c8cbd1;
  -webkit-box-shadow: 0px 0px 44px -13px rgba(200, 203, 209, 1);
  -moz-box-shadow: 0px 0px 44px -13px rgba(200, 203, 209, 1);
  box-shadow: 0px 0px 44px -13px rgba(200, 203, 209, 1);
  background: white;
}
div.title p {
  border-top: 2px solid #dddee2;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}
h2.title {
  color: #23213d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: none;
}

button.chevron {
  margin-bottom: 0;
  padding: 0;
  margin-right: 10px;
  border-style: none;
  background: none;
  width: auto;
  height: auto;
  transform: rotate(-90deg);
}

button.rotate {
  margin-bottom: 0;
  padding: 0;
  margin-right: 10px;
  border-style: none;
  background: none;
  width: auto;
  height: auto;
  transform: rotate(0);
}
