.author {
  width: 377px;
  height: 32px;
  font-family: 'MADE TOMMY';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.occupation {
  width: 796px;
  height: 24px;
  font-family: 'MADE TOMMY';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
