.font-test-family {
  font-family: Chilanka;
}
.columns {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.columns form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.columns form input {
  border-radius: 5px;
  border: 1px solid #c8cbd1;
  padding: 13px 16px;
}
