.memo-output {
  border-radius: 0.5rem;
  border: 1px solid #ebebeb;
  background: #ebebeb;
  width: 10.1875rem;
  display: flex;
  height: 3.5rem;
  padding: 1.25rem 2.25rem;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;
  text-transform: uppercase;
}
