div {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.primary-title {
  font-size: 1.17em;
  font-weight: 700;
}
.primary-title span {
  vertical-align: sub;
  font-size: smaller;
}
.primary-text span {
  font-weight: bold;
}
.underline span {
  text-decoration: underline;
  vertical-align: baseline;
  font-size: large;
}
.secondary-title {
  font-size: 0.83em;
  font-weight: 700;
}
.secondary-title span {
  font-style: italic;
}
.secondary-text {
  text-decoration: line-through;
}
.italic {
  font-style: italic;
}
