.image-files {
background-color: whitesmoke;
/* background-image: url("https://cdn.pixabay.com/photo/2017/09/01/00/15/png-2702691_960_720.png"); */
background-position: right;
background-size: 100px;
background-repeat: repeat ;

}

.image-files img{
  max-width: 250px;
}