.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.header-user-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-user-position {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cvPhoto {
  border-radius: 100%;
  height: 49px;
  width: 49px;
}
