@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    grid-area: header;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 3rem;
    box-shadow: 0px 1px 9px 0px var(--color-grey);
  }
header > a:first-of-type {
    text-decoration: none;
  }
header.header-title {
    color: var(--color-grey);
    font-weight: normal;
  }
  
/* header .logo {

  } */

header .images-container {
    display: flex;
    align-items: center;
  }

header .images-container .person-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    /* margin-left: 0.5rem; */
    margin-right: 1.5rem;
    margin-left: -0.3rem;
  }

header .images-container .person-container h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    margin: 0 0 -0.3rem 0;
}  

header .images-container .person-container h5 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #999;
    margin: 0;
}  

header .circular_image {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  header .circular_image img {
    width: 100%;
  }


  