.game-box {
  width: 939px;
  align-items: center;
  column-gap: 28px;
  font-family: Inter;
  color: #222222;
}

.game-box h2 {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 40px;
}

.start-button {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 56px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid var(--primary-primary, #fe3756);
  background: var(--primary-primary, #fe3756);
  color: white;
  font-weight: bold;
  margin: 28px;
}

.game-box input {
  justify-content: center;
  display: flex;
  height: 40px;
  width: 200px;
  padding: 10px 15px;
  align-items: center;
  margin: 28px 55px;
  border-radius: 5px;
  border: 1px solid var(--grey-300, #c8cbd1);
  background: #fff;
  font-family: Inter;
}

.game-box p {
  font-size: 22px;
}

.reset-button {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 56px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid var(--secondary-secondary, #23213d);
  background: var(--secondary-secondary, #23213d);
  color: white;
  font-weight: bold;
  margin: 28px;
}
