.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #2199da;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px #0a5279;
  font-weight: bold;
}

.button:hover {
  background-color: #106a9a;
  cursor: pointer;
}

.button-active {
  background-color: #fe3756;
}

.button:disabled {
  background-color: #ababab;
  cursor: initial;
}

.button-control {
  background-color: #fe3756;
  color: white;
}

.button-control:hover {
  background-color: rgb(171, 8, 8);
  color: white;
}
