.box {
  margin: 20px 10px 15px 25px;
  margin-top: 50px;
  border: 5px solid blue;
  padding: 30px;
  background-color: yellow;
  border-bottom: 2px dotted red;
  width: 500px;
  height: 300px;
  overflow: scroll;
  max-width: 800px;

  /* JEDNOSTKI:
  PX
  %
  EM - ZALEŻY OD FONT SIZE
  VW - ODNIESIENIE DO SZEROKOŚCI STRONY
  VH - ODNIESIENIE DO WYSOKOŚCI STRONY
  */
}

span {
  display: inline;
  margin: 20px;
  padding: 15px;
  background-color: green;
}
