.array-rendering-to-table table {
  border-collapse: collapse;
  width: 100%;
}

.array-rendering-to-table table tr:nth-child(even) {
  background-color: #afe2de;
}

.array-rendering-to-table table tr > * {
  border: 1px solid #ddd;
  padding: 8px;
}
