.Tabela2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
    border: 2px solid black;
    text-align: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    }

    tr:nth-child(2n) {
        background-color: green;
      }

      tr:nth-child(2n+1) {
        background-color: pink
      }

      .tableHeader {
        background-color: blue !important;
      }