.main-box {
  display: flex;
  flex-flow: row wrap;
}

.block-box-2 {
  width: 250px;
  height: 250px;
  box-shadow: 0px 2px 26px 0px #fe37568a;
  margin: 35px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10%;
}

.block-box-2 h4 {
  font-size: 1.4em;
  margin: 0;
}

.block-box-2 img {
  height: 53px;
  width: 53;
}

.block-box-2 p {
  font-size: 1em;
  text-align: center;
  margin: 0 1.5em;
}

.block-box-2 a {
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  color: #FF4D69;
}
