.animation {
  width: 150px;
  height: 150px;
  background-color: blue;
  animation-name: blinking-square;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes blinking-square {

  0% {
    transform: rotate(0);
    width: 150px;
    height: 150px;
    opacity: 1;
  }

  33% {
    background-color: red;
    opacity: 0.5;
  }

  100% {
    transform: rotate(720deg);
    width: 250px;
    height: 250px;
  }
}

 .animacja {
  width: 169px;
  height: 169px;
  background-color: blueviolet;
}

