.header2 {
  text-align: center;
}

.greybox {
  background-color: #EBEBEB;
  padding: 10px;
  margin-bottom: 1rem;
}

.Wolf-picture {
  width: 22rem;
  height: 20rem;
  float: left;
}

.Wolf {
  background-color: #FFD5DB;
  padding: 2rem;
}

.darkbox {
  margin-top: 200px;
  background-color: #4B5563;
  color: White;
  padding: 10px;
}

.Button {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 15em;
  height: 4em;
  border: 1px solid #FE3756;
  border-radius: 1rem;
  background-color: #FFD5DB;
}

.footnote {
  margin-top: 5rem;
}

.block1 {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #C8CBD1;
  border: 2px solid #EBEBEB;
  border-radius: 0.5rem;
}

.block2 {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #999999;
  border: 2px solid #EBEBEB;
  border-radius: 0.5rem;
  position: relative;
  bottom: 9rem;
  left: 1rem;
}

.block3 {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #6B7280;
  border: 2px solid #EBEBEB;
  border-radius: 0.5rem;
  position: relative;
  bottom: 18rem;
  left: 2rem;
}