@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Victor+Mono:ital,wght@0,100;0,200;0,400;1,100&display=swap');

.question-section {
    font-family: poppins;
    -webkit-box-shadow: 8px 8px 48px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 48px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 48px 0px rgba(66, 68, 90, 1);
    border-radius: 8px;
}