.main-button {
  display: inline-flex;
  min-width: 10.2rem;
  /* height: 3.5rem; */
  padding: 0.5rem 2.25rem;
  justify-content: center;
  /* align-items: center; */
  /* flex: 1 0 0; */
  border-radius: 0.5rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.9375rem;
  min-width: 10.2rem;
}

.main-button-primary {
  border: 1px solid #23213d;
  background: #23213d;
}

.main-button-secondary {
  border: 1px solid var(--primary-primary, #fe3756);
  background: var(--primary-primary, #fe3756);
}

.main-button-tertiary {
  border: 1px solid #e12b1b;
  background: #e12b1b;
}
