.font-test-family {
  font-family: Chilanka;

}
.todo title {
  color: var(--secondary-secondary, #23213D);

/* body/bold-18 */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 188.889% */
}
h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  max-width: 629px;
  color: var(--text-text-primary, #222);
font-feature-settings: 'clig' off, 'liga' off;


/* header/H5 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 168.75% */
}
.plusButton {
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 25.893px;
font-style: normal;
font-weight: 500;
line-height: 16.054px; /* 62% */
cursor: pointer;
}
.plusButton {
  border-radius: 4.143px;
border: 0.518px solid var(--primary-primary, #FE3756);
background: var(--primary-primary, #FE3756);
display: flex;
width: 30px;
height: 30px;
padding: 10.357px 18.643px;
justify-content: center;
align-items: center;
gap: 8.286px;
flex-shrink: 0;
}
.toDoList {
  display: flex;
  width: 629px;
  height: 166px;
  padding: 18px 24px;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  }
 .toDoList:hover{
  background-color: #C8CBD1;
 }
  .toDoList {
    border-radius: 8px;
    border-left: 5px solid var(--gray-300, #C8CBD1);
    background: var(--background-bg-primary, #FFF);

/* l */
box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15), 0px 2px 28px 0px rgba(0, 0, 0, 0.12);
  }
 
.dodajButton {
  border-radius: 8px;
border: 1px solid var(--primary-primary, #FE3756);
background: var(--primary-primary, #FE3756);
}
.dodajButton{
  color: #FFF;
  text-align: center;
  
  /* button/button */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
cursor: pointer;
}
.dodajButton {
display: flex;

height: 56px;
padding: 20px 36px;
justify-content: flex-end;
align-items: center;
gap: 16px;
flex: 1 0 0;
}
.faqimg {
  rotate: 90deg;
}