.font-test-family {
  font-family: Chilanka;
}
div.selectors p.lorem {
  font-size: 30px;
  text-align: center;
}

div.selectors p {
  font-size: 16px;
  text-align: left;
}

div p:last-child {
  font-size: 25px;
  color: grey;
}

div p:last-child::after {
  content: "Przeczytaj więcej >";
  display: block;
  cursor: pointer;
  color: blue;
}

p.my-custom-arrow.arrow-button{
  color: red;
}

a[href*='#'] {
  border: red 1px solid;
}

/* div[data-position]::after {
  content : '.' attr(data-position) '.';
} */


div[data-position]::after {vertical-align: super ;
  content: "asdfasdf" attr(data-position) '.';
}

div.hoverable {
  transition: all .2s ease-in-out;
  border: red 1px solid;
  text-align: center;
}

div.hoverable:hover {
  transform: scale(1.1);
  border: red 3px solid;
  text-align: center;

}

a:focus {
  color: red;
  outline: invert;
}
