.font-test-family {
  font-family: Arial, Helvetica, sans-serif;
}

.rating-table2 {

}

.rating-td2 {
text-align: center;
}

.rating-th2 {
text-align: left;
}

.rating-tr2 {
text-align: left;
}

.rating-tr2:nth-child(2n) {
  background-color:#FFD5DB;
}

