.firstParagraph {
  color: red;
  font-size: 36px;
  font-style: italic;
  font-weight: bold; /* 100, 200, lighter itd*/
  text-transform: lowercase; /* uppercase, capitalize, lowercase */

  /* text-decoration */
  /* 1. opcja */
  /* text-decoration: overline dotted; */
  /* 2. opcja */
  /* text-decoration: underline dashed; */

  /* 3. opcja */
  /* text-decoration: line-through double; */

  /* 4. opcja */
  /* text-decoration: solid line-through purple 10px; */

  /* text-shadow */
  /* text-shadow: 2px 0 0px #800040, 
                 3px 2px 0px rgba(77,0,38,0.5), 
                 3px 0 3px #FF002B, 
                 5px 0 3px #800015, 
                 6px 2px 3px rgba(77,0,13,0.5), 
                 6px 0 9px #FF5500, 
                 8px 0 9px #802A00, 
                 9px 2px 9px rgba(77,25,0,0.5), 
                 9px 0 18px #FFD500, 
                 11px 0 18px #806A00, 
                 12px 2px 18px rgba(77,66,0,0.5), 
                 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 
                 15px 2px 30px rgba(64,77,0,0.5), 
                 15px 0 45px #80FF00, 17px 0 45px #408000, 
                 17px 2px 45px rgba(38,77,0,0.5); */

  /* letter-spacing */

  /* letter-spacing: 2px; */
  /* letter-spacing: -5px; */

  /* word-spacing */
  /* word-spacing: 2px; */
  /* word-spacing: -15px; */
}

.text-alignment {
  height: 100px;
}

.text-alignment .top {
  vertical-align: text-top;
}
.text-alignment .bottom {
  vertical-align: text-bottom;
}

.text-wrapper ul {
  /* list-style-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384023.png"); */
}
