.flex {
  display: flex;
  flex-direction: column;
}

.flex > *:not(label) {
  max-width: 300px;
  border: 2px solid rgb(36, 104, 36);
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex > *:not(label):focus {
  border: 3px solid rgb(58, 75, 173);
  border-radius: 5px;
  transition: 1s;
}

.flex > *:not(label):invalid {
  border: 3px solid red;
  border-radius: 5px;
  /* transition: 1s; */
  background-color: rgb(226, 109, 109);
}
