.mydata-dashboard{
font-size: 0.875rem;
}
.mydata-section{
padding: 0.625rem  0.625rem  0.625rem 0rem;
/* font-size: 14px; */
color: #000;

    }

    .mydata-dashboard h3{
margin: 0;
font-size: 22px;
font-weight: 500;
        }

        .mydata-dashboard p{
         line-height: 20px;
         opacity: 0.4;
         /* margin-bottom: 0px; */
         /* margin-top: 0px; */
         margin-block-end: 0px;
         margin-block-start: 0px;
                    }
