.App{
  margin-top: 100px;
  margin-left: 100px;
  font-size: larger;
  font-stretch: 300%;
}
.red_font_header{
  font-size: 80px;
  color: rgb(255, 84, 84);
}
.header{
  font-size: 80px;
}
.Name{
  font-size: 40px; 
  margin-top: 100px;
}
.Beruf{
  font-size: 40px;
  color: rgb(255, 84, 84);
}
.email{
  padding-top: 50px;
  font-size: 40px;
}
.phone{
  font-size: 40px;
}




