.App{
  margin: 120px;
  font-size: larger;
  font-family: STAR WARS;
}
.red_font_header{
  margin-bottom: 10px;
  font-size: 80px;
  color: rgb(255, 84, 84);
}
.header{
  font-size: 60px;
}
.Name{
  font-size: 40px; 
  margin-top: 50px;
}
.Beruf{
  font-size: 40px;
  color: rgb(255, 84, 84);
}
.email{
  font-size: 40px;
}
.phone{
  font-size: 40px;
}



