.App{
  margin: 120px;
  font-size: larger;
  font-family: Roboto;
}
.red_font_header{
  margin-bottom: 10px;
  font-size: 80px;
  color: rgb(255, 84, 84);
}
.header{
  font-size: 60px;
}
.Name{
  font-size: 40px; 
  margin-top: 50px;
}
.Beruf{
  font-size: 40px;
  color: rgb(255, 84, 84);
}
.email{
  font-size: 40px;
}
.phone{
  font-size: 40px;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-ThinItalic-webfont.eot');
  src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-ThinItalic-webfont.woff') format('woff'),
       url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
       url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
  font-weight: 200;
  font-style: italic;
}



