.exercise-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 5rem header, 5rem footer 1.5rem padding (both sides) */
  grid-template-rows: calc(100vh - 5rem - 5rem - 1.5rem - 1.5rem);
  /* margin-left: 2rem; */
}

.exercises-categories a {
  text-decoration: none;
  list-style-type: circle;
}

.exercises-categories a.active {
  /* background-color: var(--color-primary-blue); */
  color: var(--color-red);
  list-style-type: disc;
  text-decoration: underline;
}

/* .exercises-categories a.active::before {
  content: '>  ';
} */

.page-path {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  /* color: var(--color-red); */
  color: rgb(152, 152, 152);
  font-weight: 600;
}

.page-path > a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-red);
  /* color: rgb(120, 120, 120); */
  text-decoration: none;
}

.page-path > a:hover {
  text-decoration: underline;
}

.intro-exercises {
  width: 50rem;
}
