.master-header {

    font-family: 'Poppins', sans-serif;
    color: var(--secondary-secondary, #23213D);
    /* body/bold-18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 188.889% */
    ;
}