@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Victor+Mono:ital,wght@0,100;0,200;0,400;1,100&display=swap');



.master-header {

    font-family: 'Poppins', sans-serif;
    color: var(--secondary-secondary, #23213D);
    /* body/bold-18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 188.889% */
    ;
}