.background {
  width: 400px;
  height: 200px;
  background-image: url('https://cdn.pixabay.com/photo/2017/09/01/00/15/png-2702691_960_720.png');
  background-color: rgb(0, 255, 106);
  background-size: 100% 100%;
}

.filtr-1 {
  filter: brightness(105%) hue-rotate(69deg) saturate(158%) opacity(88%) contrast(96%);
  -webkit-filter: brightness(105%) hue-rotate(69deg) saturate(158%) opacity(88%) contrast(96%);
  -moz-filter: brightness(105%) hue-rotate(69deg) saturate(158%) opacity(88%) contrast(96%);
}

.filtr-2 {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
}

.filtr-3 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.filtr-4 {
  filter: sepia(92%) hue-rotate(149deg);
  -webkit-filter: sepia(92%) hue-rotate(149deg);
  -moz-filter: sepia(92%) hue-rotate(149deg);
}