.colorName {
  color: aqua;
}

.shortenHex {
  color: #Fg6;
}

.normalHex {
  color: #f10000;
}

.rgb {
  color: rgb(63, 135, 135);
}

.rgba {
  color: rgba(235, 122, 172, 0.3);
}

.hsl {
  color: hsl(305, 67%, 43%);
}