.ToDoWithServer--ToDo-Div {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 39.3125rem;
  min-width: 10rem;
  min-height: 8.375rem;
  padding: 1.125rem 1.5rem;

  border-radius: 0.5rem;
  border-left: 5px solid var(--gray-300, #c8cbd1);
  background: white;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15),
    0px 2px 28px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 1.62rem;
}
.ToDoWithServer--ToDo-Div > h3 {
  font-family: var(--font-poppins);
  font-size: 1.125rem;
  margin-top: 1.12rem;
  font-weight: 700;
  line-height: 2.125rem;
  margin: 0px;
}
.ToDoWithServer--ToDo-Span {
  color: #6b7280;
  font-family: var(--font-poppins);
  font-size: 0.75rem;
}

.ToDoWithServer--ToDo-paragraph {
  color: var(--gray-500, #999);
  font-family: var(--font-poppins);
  font-size: 0.875rem;
}
.ToDo--one--button {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.editIcon_position {
  position: absolute;
  top: 1.88rem;
  right: 4.22rem;
}
.trashIcon_position {
  position: absolute;
  top: 1.88rem;
  right: 1.91rem;
}
.checkIcon_position {
  position: absolute;
  top: 1.88rem;
  right: 6.2rem;
}
.trashIcon_position:hover,
.editIcon_position:hover,
.checkIcon_position:hover {
  opacity: 0.5;
}
.ToDoWithServer--ToDo-Span-doneDate {
  display: flex;
  justify-content: flex-end;
  color: #6b7280;
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 400;
  margin-right: 1rem;
}
.div-position-error-mark {
  position: absolute;
  top: 4rem;
  right: 1rem;
  color: var(--colors-actions-danger, #e12b1b);
  font-family: Poppins;
  font-size: 0.75rem;
}
