.button-base {
padding: 10px 20px;
background-color: #23213D;
color: #FFF;
display: flex;
height: 56px;
padding: 20px 36px;
justify-content: center;
align-items: center;
min-width: 162px;
border-radius: 8px;
border: 1px solid #EBEBEB;

}

.button-active {
background-color: #FF0000;
}
.button-disabled {
    background-color: #EBEBEB;
    color: black;
}