/* div.input-container { */
/* background-color: aquamarine; */
/* height: 100%;
  padding-top: 15px;
}
input.image-input {
  width: 440px;
  border: 1px solid #c8cbd1;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  background-image: url({});