.font-test-family {
  font-family: Chilanka;
}
/* .variable-string-placeholder p span */
.variable-string-placeholder {
  margin-left: 5px;
}

#unique-id {
  font-size: 25px;
  margin: 30px;
  font-style: italic;
}
