.dashboard {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    font-family: Poppins;
    
    }
    
    .dashboard-greeting { 
        grid-area: 1 / 1 / 2 / 2; 
        color: red;
    }

    .dashboard-description { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .dashboard-cards { 
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

     }


     .dashboard-card { 
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 28px;
        border: 1px solid var(--color-lightgrey);
        border-radius: 8px;
        height: fit-content;
        max-width: 210px;
        text-align: center;
    
        
 
     }

     .dashboard-card > h3 { 
        font-size: 18px;
        line-height: 34px;
        margin: 10px 0; 
     }


     .dashboard-card > svg { 
       height: 40px;
       width: 40px;
     }

     .dashboard-card > p { 
        font-size: 12px;
        line-height: 18px;
        margin: 10px 0;
     }


     .dashboard-card > a { 
        font-size: 14 px;
        line-height: 24px;
        color: var(--color-red);
     }

     

    .dashboard-aside { 
        grid-area: 1 / 2 / 4 / 3; 
        min-height: 800px;;
        background: grey;
    }

    .dashboard-card:hover > h3 {
        color: var(--color-red);

    }

    .dashboard-card:hover > svg > path {
        stroke: var(--color-red);

    }

    .dashboard-card:hover {
/* pink-shadow */
box-shadow: 0px 2px 26px 0px rgba(254, 55, 86, 0.54);
    } 