.dashboard {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

.dashboard .dashboard-hello {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 14px;

}

.dashboard .hand-img {
    width: 22px;
    height: 22px;
}

.dashboard .dashboard-title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
    color: black;
}

.dashboard .dashboard-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
   margin: 0px;
}

.dashboard-content {
    max-width: 780px;
    display: flex;
    gap: 35px 35px;
    flex-wrap: wrap;
    padding: 44px 51px;
}