.blog-post {
    padding: 45px 61px 45px 61px;
    margin: 10px 0;
    background-color: rgba(244, 245, 247, 1);
    color: rgba(34, 34, 34, 1);
    border-radius: 8px;
    -webkit-box-shadow: 21px 21px 60px -22px rgba(66, 68, 90, 1);
  -moz-box-shadow: 21px 21px 60px -22px rgba(66, 68, 90, 1);
  box-shadow: 21px 21px 60px -22px rgba(66, 68, 90, 1);
  cursor: pointer;
  }
  
  .blog-post:nth-of-type(1) {
    background-color: rgba(35, 33, 61, 1);
    color: #fff;
  }
  
  .blog-post:hover {
    transform: scale(1.01);
  }

  .blog-post-date {
    font-size: 10.5px;
    line-height: 24px;
  }
  
  .blog-post-title {
    font-weight: 800;
    font-size: 42px;
    line-height: 56px;
    margin: 10px 0 30px;
  }
  
  .blog-post-content {
    font-size: 16px;
    line-height: 27px;
    margin: 20px 0 30px;
  }
 
  .blog-post-author {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin: 30px 0 0;
  }
  
  .blog-post-author-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  
  .blog-post-quote {
    margin: 20px 0;
    font-style: italic;
  }
  
  .blog-post-quote-author {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-align: right;
  }
  
  .blog-post-link-list > li > a[href="https://wp.pl"]
  {
    font-weight: bold;
  }
  
  .blog-post-link-list > li > a:visited {
    color: green;
  }
  
  .blog-post-link-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .blog-post-link-list > li > a {
    color: rgba(34, 34, 34, 1);
  }