/*.font-test-family {
  font-family: Chilanka;
}
td,th,table{
  border: 1px solid black;
  text-align: center;
}
th{
  background-color: bisque;
}
td:first-child{
  background-color: bisque;
}

tr:nth-child(2n){
  background-color: rgb(248, 237, 221);
}
tr:hover{
  background-color: rgb(228, 228, 228);
  border: 3px solid black;
}
td:hover{
  border: 3px solid black;
}*/