.table-wrapper table {
  margin-bottom: 50px;
}

/* 1 table */

.first-table {
  border-collapse: collapse;
}

.first-table td,
.first-table th {
  border: 5px solid #023047;

  padding: 10px;
}

.first-table tr:nth-child(even) {
  background-color: #fb8500;
}

/* 2 table */

.second-table {
  border-collapse: collapse;
}

.second-table td,
.second-table th {
  border: 5px solid #023047;

  padding: 10px;
}

.second-table tr:nth-child(even) {
  background-color: #fb8500;
}

.second-table caption {
  caption-side: bottom;
}
