.float__image img {
  float: left;
  width: 200px;
  height: 200px;
}

/* Przepis na czyszczenie floatów */
.clearfix:before,
.clearfix:after {
  /* Czyszczenie floata */
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
}

.float__layout-left {
  height: 200px;
  width: 22%;
  border: 1px solid red;
  float: left;
}

.float__layout-right {
  height: 200px;
  width: 72%;
  border: 1px solid red;
  float: right;
}

.float__layout-footer {
  background: red;
  clear: both;
}
