.blok-9 button {

  border-radius: 8px;

  background-color: #FE3756;

  color: white;

  padding: 20px 36px;

  border: 1px solid #FE3756;

  width: 326px;

  cursor: pointer;

  text-transform: uppercase;

}