:root {
  --color-primary-blue: #3e63f6;
  --color-dark-blue: #004286;
  --color-dark-gray: #3d3d3d;
  --color-blue-gray: #525e70;
  --color-black: #000000;
  --color-grey: rgb(60, 64, 67);
  --color-lightgrey: #c8cbd1;
  --color-white: rgb(255, 255, 255);
  --color-red: #FE3756;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
