.instructions {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 34px; 
}

.victory {
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 48px; 
}

.gameOptionsButtons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto 3fr;
  grid-template-columns: 2fr 4fr;
}

.gameButtonsRows {
  grid-area: 1 / 1 / 5 / 5;
}

.gameButtonsRows div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gameButtonsRows h4,
.gameButtonsRows button {
  width: 15rem;
}

.gameButtonsRows button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  cursor: pointer;
}

.gameButtonsRows button:hover,
.gameButtonsRows button.activeButton {
  background: #fe3756;
  border-color: #fe3756;
}

.gameButtonsRows button:active {
  background: #fe3756;
  border-color: #fe3756;
}

.moleGame .board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  max-width: 500px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
}

.moleGame .board .square {
  display: flex;
  border-radius: 8px;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
}



.timeAndScore {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #ebebeb;
  border: 1px;
  gap: 1rem;
  background: #ebebeb;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 15rem;
}

.restartButton {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 15rem;
  cursor: pointer;
}

.moleGameOptions .game-text,
.moleGame .game-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}


.time .game-text, .score .game-text, .restart .game-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin-right: 10px;
  width: 200px;
}

.time,
.score,
.restart {
  display: flex;
  align-items: center;
}
