.gameOptionsButtons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto 3fr;
  grid-template-columns: 2fr 4fr;
}

.gameButtonsRows {
  grid-area: 1 / 1 / 5 / 5;
}

.gameButtonsRows div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gameButtonsRows h4,
.gameButtonsRows button {
  width: 15rem;
}

.gameButtonsRows button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.gameButtonsRows button:hover{
  background: #fe375868;
  border-color: #fe375868;
}
.gameButtonsRows button:active {
  background: #fe3756;
  border-color: #fe3756;
}

.gameButtonsRows button.activeButton {
  background: #fe3756;
}
.moleGame {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 5px;
    max-width: 600px;
    max-height: 250px;
    margin: 0 auto; /* Dodane centrowanie poziome */
    justify-content: center;
    align-items: center; 
}
#spangbob{
  background-color: aqua;
  height: 100px;
  width: 100px;
  padding-top: 20px;
  padding-left: 5px;
  border: 1px solid black;
}