.skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill-button {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.skill-button:hover {
  background-color: var(--color-red);
}
