.block {
  display: flex;
  flex-flow: row wrap;
}

.block {
  width: 202px;
  height: 192px;
  margin: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px gray;
  /* padding: 20px 28px 20px 28px;*/
}

.block:hover {
  box-shadow: 0px 2px 26px 0px #fe37568a;
}

.block h4 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.block img {
  height: 50px;
  width: 50px;
}

.block p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin: 10px;
  line-height: 18px;
}

.block a {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff4d69;
  margin-top: 5px;
  margin-bottom: 20px;
}
