.techstack-content {
  max-width: 1000px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-left: 58.76px;
}

.techstack-item {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
