.techstack-section h2 {
  color: var(--secondary-secondary, #23213d);
  /* body/bold-18 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 188.889% */
  text-transform: uppercase;
}



.techstack-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(3, 200px); 
  gap: 10px; 
}

.techstack-wrapper svg {
  width: 80px;
  height: 80px;
}
