.paragraph {
  background: green;
  /* padding: 50px; */
  border: 2px solid black;
  margin: 25px;

  padding: 25px 5px;
  /* padding: 25px 5px 25px 5px; */
}

.inline-span {
  background: bisque;
}
