.animation{
 width:200px;
 height:200px;
 background-color: green; 
 animation-name: blinking-square;

animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes blinking-square {
 0% {
  width:200px;
  height:200px;
}

100% {
  width:500px;
  height:500px;}
}