div.animation {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: blinking-square;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes blinking-square {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }