div.animation {
  width: 200px;
  height: 100px;
  background-color: red;

  animation-name: blinking-square;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes blinking-square {
  0% {
    background-color: red;
  }

  /* 25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  75% {
    background-color: green;
  } */

  50% {
    background-color: green;
    border-radius: 100%;
  }

  100% {
    background-color: red;
  }
}