.header {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
}

.myInput {
  margin-left: 30px;
}

.container {
  margin-left: 150px;
  margin-top: 90px;
  height: 280px;
  width: 235px;
  display: flex;
  flex-direction: column;
}
/* button {
  height: 26px;
  width: 26px;
} */
/* .button-dodaj {
  height: 56px;
  width: 163px;
} */

/* .nick {
  flex: none;
}
.button-dodaj {
  height: 56px;
  width: 163px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  gap: 16px;
}
.nick {
  margin-right: 50px;
  width: 41px;
  height: 27px;
}
button {
  height: 26px;
  width: 26px;
}
.container {
  border: 1px solid black;
  float: right;
  padding: 38px, 25px, 38px, 25px;
  margin-right: 300px;
  border-radius: 8px;
  width: 235px;
  height: 280px;
}
h3 {
  display: block;
} */
