.container-all-fields {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}
.field {
  min-width: 102px;
  min-height: 102px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border: none;
  cursor: pointer;
  margin: 0.6rem;
}
.field-green {
  background-color: #e2fbd7;
  pointer-events: none;
}

.field-red {
  background-color: #f3aea8;
}

.image-mole {
  width: 92px;
  display: flex;

  height: 92px;
}
