.font1 {
  font-family: 'Roboto', sans-serif;
}

.font2 {
  font-family: 'Foldit', cursive;
}

.font3 {
  font-family: 'Libre Franklin', sans-serif;
}

.font4 {
  font-family: 'Noto Serif', serif;
}

.font5 {
  font-family: 'Oswald', sans-serif;
}
