.todo-btn {
    border-radius: 8px;

    color: #FFF;
    display: flex;
    height: 56px;
    width: 10rem;
    align-items: center;
    padding: 0;
    justify-content: center;
    gap: 16px;

    font-size: 18px;
    font-weight: 500;
    cursor: pointer;


}

.todo-btn:hover {
    opacity: 0.8;
    /* background-color: red; */

}

.todo-btn--primary {

    border: 1px solid #FE3756;
    background: #FE3756;
}

.todo-btn--secondary {

    border: 1px solid #23213D;
    background: #23213D;
}