@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

.Todos_div_container {
  display: flex;
  flex-direction: column;
  max-width: 36.3125rem;
  min-width: 15rem;
  min-height: 8.375rem;
  padding: 1.125rem 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border-left: 5px solid var(--gray-300, #c8cbd1);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15),
    0px 2px 28px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
  align-items: start;
  margin-bottom: 1.62rem;
  margin-left: 1.92rem;
  position: relative;
}
.ToDos_title_p {
  font-size: 1.125rem;
  min-height: 2.125rem;
  font-weight: 700;
  line-height: 2.125rem;
  margin: 0;
}
.ToDos_author_date_p {
  color: #6b7280;
  font-size: 0.75rem;
  margin: 0;
}
.ToDos_content_p {
  color: #6b7280;
  font-size: 0.875rem;
  margin-top: 0.75rem;
}
