.foto {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 15px;
    margin-left: 0px;
    /* display: flex;
    align-items: flex-start; */


}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.dashboard-about-me {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 25em;
    height: 30em;
    /* margin-left: 70vw; */
    justify-content: center;

}

.name {
    margin-left: 10px;
    /* margin-inline-end: 10px; */
}

.person {
    margin: 0%;
    /* padding-left: 0%; */
    /* width: 100em; */
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* margin-left: 70vw; */
}

.person {

    font-size: larger;

}