.columns {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.columns form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columns form label {
  font-weight: bold;
}

.columns form input {
  border-radius: 5px;
  border: 1px solid #C8CBD1;
  padding: 13px 16px;
}

.columns form button {
  border-radius: 8px;
  background-color: #FE3756;
  color: white;
  padding: 20px 36px;
  border: 1px solid #FE3756;
  width: 326px;
  cursor: pointer;
  text-transform: uppercase;
}