.imageBackground{
height: 200px;
width: 200px;
background-image: url(https://cdn-icons-png.flaticon.com/512/29/29264.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-size: 100%;
}