div.dodajZad button {
    display: flex;
    height: 56px;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--primary-primary, #FE3756);
    background: var(--primary-primary, #FE3756);
    color: white;
    display: inline-block;
margin: 0 auto;
   
}
.dodajZad {
    text-align: center;
}

div h1 {
    text-align: center;
}